body {
    font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
}

body {
    font-size: 16px;

}

nav,
header,
main,
footer {
    max-width: 750px;
    margin: 0 auto;
    border-radius: 16px;
}

header {
    margin: 1rem auto;
    border: 1px solid rgb(113, 190, 241);
    padding: 1rem;
    background-color: rgb(6, 24, 83);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: rgb(6, 24, 83);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #f8f40a;

}

.active {
    color: rgb(191, 195, 250);
}

footer {
    margin: 1rem auto;
    border: 1px solid rgb(113, 190, 241);
    padding: .5rem;
    background-color: rgb(6, 24, 83);
    align-items: center;
}

/* phone or baseline views **************************/
main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}



main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

main section h2 {
    color: #536878;
}



main section:nth-child(2) {
    display: none;
    margin: 0.5rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* This is unncessary !!! The flow is set and the template is set already */
    main section:nth-child(1) {
        grid-column: 1/2;
    }

    main section:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*************************************/

    main section:nth-child(3) {
        grid-column: span 1;
    }
}