:root {
    --background-color: #e9d38b;
    --header-color: #abd1e6;
    --accent-color: #4295c2;
    --accent-color2: #fae6aa;
}

body {
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    text-align: center;
}

#cards img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border: ridge;
    border-width: 10px;
    border-color: #a7d1e7;
    border-radius: 5px;
    background-color: #629ab8;
}

h1 {
    text-align: center;
}

#content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--accent-color2);
    overflow-x: hidden;
}