* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: aptos display, sans-serif;
    color: #3d405b;
    text-align: center;
}

h1 {
    font-size: 4vw;
}

h2,
h3 {
    color: #e07a5f;
}

body {
    font-size: 16px;

}

nav,
header,
main,
footer {
    max-width: 750px;
    margin: 0 auto;
    border-radius: 16px;
}

header {
    margin: 1rem auto;
    border: 1px solid #f2cc8f;
    padding: 1rem;
    background-color: #81b29a;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

div.banner {
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #f4f1de;
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}

main,
nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #e07a5f;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #f2cc8f;

}

.active {
    color: #81b29a;
}


footer {
    margin: 1rem auto;
    border: 1px solid #f2cc8f;
    padding: .5rem;
    background-color: #81b29a;
    align-items: center;
}