:root {
    --color: #3d405b;
    --background-color: #f4f1d3;
    --background-color2: #81b29a;
    --accent-color: #e07a5f;
    --accent-color2: #f2cc8f;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h2,
h3 {
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: aptos display, sans-serif;
    color: var(--color);
    text-align: center;
}

ul,
li,
a,
p {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 3px;
    padding-inline-start: 0px;
    list-style-type: none;
}

body {
    font-size: 16px;

}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 16px;
}

.hero {
    grid-column: 1 / 4;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section {
    box-shadow: 0 4px 8px 0 lightgray;
    padding: 2rem;
    background-color: var(--background-color);
}

h2 {
    grid-column: 1 / 4;
}

section#event.card {
    grid-column: 1 / 3;
}

section#weather.card {
    grid-column: 3 / 4;
}

nav,
header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    list-style-type: none;
}

header {
    margin: 1rem auto;
    border: 1px solid var(--accent-color2);
    padding: 1rem;
    background-color: var(--background-color2);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

div.banner {
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: var(--accent-color2);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

nav a {
    display: block;
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: 2px solid white;
}

nav a:hover {
    border: 1px solid var(--accent-color2);

}

.navigation {
    display: none;
}

.navigation.open {
    display: flex;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

#menu {
    width: 50px;
    height: 50px;
}


.active {
    color: var(--background-color2);
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.dark-mode {
    background-color: var(--color);
    color: #fff;
    border-color: #eee;
}

body.dark {
    background-color: var(--color);
}

body.dark h1,
body.dark .support a {
    color: #fff;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: var(--accent-color2);
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin: 1rem auto;
    border: 1px solid var(--accent-color2);
    padding: .5rem;
    background-color: var(--background-color2);
    align-items: center;
}

.card1 {
    display: block;
    background-color: var(--accent-color2);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 lightgray;
}

.card1 h3 {
    text-align: center;
    color: var(--background-color2);
    background-color: var(--accent-color2);
    padding: 16px 0;
    border-radius: 5px 5px 0 0;
}

.card1 p {
    margin: 16px;
    font-size: 16px;
}

.clock-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clock {
    font-size: 2em;
    color: #333;
}

.top-message {
    background: var(--accent-color2);
    text-align: center;
    padding: 2rem;
    grid-column: 1/3;
    border-radius: 5px;
}

.left-sidebar {
    background: #eee;
    grid-column: 1/1;
    border-radius: 5px;
}

/* Join page */
.right-sidebar {
    background: #eee;
    grid-column: 2/3;
    border-radius: 5px;
    padding: 2rem 2rem 2rem 10px;
    margin-top: 10px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: .5rem 2%;
    margin-top: 5px;
}

.join1 input[type="radio"] {
    margin-right: 6px;
    display: block;
    margin: 3px 3px 0px 5px;
}

.join1 input {
    border-radius: 5px;
    border: 1px solid var(--color);
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: .3rem;
    width: 100%;
    max-width: 400px;
}

input::placeholder {
    font-size: .9rem;
}

label {
    display: block;
    padding: 10px;
    color: var(--color);
    font-size: .9rem;
    position: relative;
}

.join1 {
    color: var(--color);
    text-align: left;
    margin: 50px 15px 20px;
}

.join1 input:required {
    border-right: solid 8px var(--accent-color);
}

.join1 input:required:valid {
    border-right: solid 8px var(--background-color);
}

.join1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--accent-color), #be5335);
    color: #fff;
    border-radius: 5px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

/* Directory page */
.main-directory {
    margin: 1rem auto;
    border: 1px solid var(--accent-color2);
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    border: 2px solid var(--accent-color2);
    padding: 15px;
    background-color: var(--background-color2);
    color: var(--text-color2);
}

.grid section>* {
    margin: 0.1rem;
}

.grid section p {
    text-align: left;
}

.grid img {
    height: 75px;
    max-width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: .5rem;
}

.list section>* {
    margin: 0 1rem;
}

.list img {
    height: 50px;
    max-width: 100%;

}

#members a:hover {
    text-decoration: underline;
}

#members a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color2);
    font-size: .8em;
}

#members section {
    border: ridge var(--header-color);
    border-width: 7px;
    padding: 15px;
    background-color: var(--accent-color2);
    color: var(--text-color2);
}

figcaption {
    text-align: center;
    font-weight: bold;
}

#banner {
    border: .5rem solid var(--color);
    color: var(--accent-color);
    background-color: var(--accent-color2);
    font-weight: bold;
}