@media (min-width: 640px) {

    main {
        grid-template-columns: 1fr 1fr;
    }


    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 18px 5vw;
    }

    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}