@media (min-width: 640px) {

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu-button {
        display: none;
    }

}