* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-align: center;
}

ul,
li,
a,
p {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-inline-start: 0px;
    list-style-type: none;
}

h1 {
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2,
h3 {
    color: rgb(7, 55, 145);
    text-align: center;
    border-bottom: 1px solid;
    padding: 16px;
}

.activities li {
    list-style-type: none;
    padding: 2 rem;
}

nav,
header,
footer {
    max-width: 750px;
    margin: 0 auto;
    border-radius: 16px;
}

main section {
    font-size: 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    list-style-type: none;
    padding: 1rem;
}



header {
    margin: 1rem auto;
    border: 1px solid rgb(113, 190, 241);
    padding: 1rem;
    background-color: rgb(6, 24, 83);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: rgb(6, 24, 83);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 2px solid #c0bd10;

}

.active {
    color: rgb(191, 195, 250);
}

.card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 5px 5px 3px #f0eeee;
}

footer {
    margin: 1rem auto;
    border: 1px solid rgb(113, 190, 241);
    padding: .5rem;
    background-color: rgb(6, 24, 83);
    align-items: center;
}