:root {
    --color: #333;
    --background-color: #f8f8f8;
    --background-color2: #ddd;
    --accent-color: #5371d4;
    --accent-color2: rgb(245, 198, 69);
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

fieldset {
    border-radius: 5px;

}

input {
    border-radius: 5px;
    border: 1px solid var(--background-color2);
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: .3rem;
}

input::placeholder {
    font-size: .9rem;
}

label {
    display: block;
    padding: 10px;
}

#rate-button {
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background: var(--accent-color2);
    margin-left: 20px;
}

.form-main {
    color: var(--color);
    text-align: left;
    margin: 50px 15px 20px;
}

#r {
    width: 220px;
    margin-bottom: 0;
}

#rangevalue {
    font-size: 2rem;
    color: navy;
}

#rangevalues {
    display: flex;
    margin: 0 0 0 25px;
    width: 200px;
}

#rangevalues option {
    flex: 1 1 auto;
}

.form-main input:required {
    border-right: solid 8px var(--accent-color);
}

.form-main input:required:valid {
    border-right: solid 8px green;
}

input[name="email"]:required:valid {
    background-color: greenyellow;
}

input[name="email"]:invalid {
    background-color: #fbffbd;
}