@media (min-width: 800px) {
    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 18px 5vw;
    }

    main {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 16px;
    }


    #menu {
        display: none;
    }
}

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture {
        display: block;
    }
}

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(1) {
        grid-column: 1/2;
    }

    main section:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }

    iframe {
        padding: 0 0 32px 0;
    }
}